
<h1>@ViewBag.BarclaysMessage</h1>


<div>
    <img src="~/Content/img/barclays_img.png" alt="Barclays image" />
    <div>
        An APR: at 40% APR, to borrow for a year you'd be charged 40% of the original loan, on top of paying it back
        <p>Short promotional message: Buy now and get 20% off</p>
    </div>
</div>
