
<h1>@ViewBag.VanquisMessage</h1>


<div>
    <img src="~/Content/img/vanquis_img.png" alt="VanquisImage" />
    <div>
        An APR: at 40% APR, to borrow for a year you'd be charged 40% of the original loan, on top of paying it back
        <p>short promotional message.</p>
    </div>
</div>
